<!DOCTYPE html>
<html lang="en">
<head>
	<style>
	img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    }
    h1, h3 {
    	text-align: center;
    	}</style>
	<meta charset="utf-8">
	<title>Edwardian door</title>
</head>
<body>
	<h1>Welcome to the Edwardian Door fanpage!</h1>
	<h3>Stay tuned, more info coming soon.</h3>
	<a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=edwardiandoor.com&digit=style/plain/1/&reloads=0" alt="Reliable Counter" title="Reliable Counter" border="0"></a><br /><a href="http://www.reliablecounter.com/ru/" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">Reliable Counter</a>
	<img src="/images/door.jpg" alt="This is a door.">
	<a href="/login">Login</a>
	<a href="/register">Register</a>
</body>
</html>
